*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background: #52C1F7;
    font-family:  "Open Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* navbar styling */






/* <------------************************************************--------------------------> */



/* body styling */
.filter{
    width: 80%;
    margin: 15px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background: #009B5D;
    color: white;
    height: 50px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.filter > .filter-by-price-range{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.filter > .filter-by-price-range>input{
    height: 30px;
    padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter > .filter-by-price-range>input::placeholder{
    color: #009B5D;
}
.filter > .filter-by-price-range>button{
    background: #239bd7;
    width: 100px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.filter > .filter-by-price-range>button:hover{
    background: #52C1F7;
    cursor: pointer;
}
.filter > select{
    display: block;
}
.filter #sort-by-price,#filter-by-category{
    background: #239bd7;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.filter #filter-by-category:hover{
    background: #52C1F7;
    cursor: pointer;
}
.filter #sort-by-price:hover{
    background: #52C1F7;
    cursor: pointer;
}
#card-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.card{
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.card>.poster{
    width: 100%;
}
.card>.category{
    color: #3B3435;
    font-weight: bolder;
}
.card .flex{
    display: flex;
    gap: 10px;
}
.card .buttons-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.buttons-wrapper>button{
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;
    background: #009B5D;
    color: white;
    cursor: pointer;
    font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.buttons-wrapper>button:first-child{
    background:  #268fc4;;
}
.buttons-wrapper>button:first-child:hover{
    background:  #207caa;;
}
.buttons-wrapper>button:hover{
    background: #038350;
}
