*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background: #52C1F7;
    font-family:  "Open Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/***********************************navbar styling *********************************************************/

#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #52C1F8;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding: 5px;
    
}
#navbar  img{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}
#navbar img:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#navbar > .search{
    position: relative;
    margin-left: 200px;
}
#navbar > .search:hover input[placeholder="Search..."]{
    width: 700px;
}
input[placeholder="Search..."]{
    width: 300px;
    font-size: 30px;
    line-height: 24px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px; 
    transition: 2s;

}
input[placeholder="Search..."]::placeholder{

    color: #009B5D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fa-search{
    font-size:30px;
    color: #009B5D;
    position: absolute; 
    right:20px;
    bottom: 10px;
}
#navbar>.icons{
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}
#navbar > .icons> a{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
}
#navbar > .icons> a:hover{
    color: #002315;
}
#navbar>.icons>i{
    font-size: 33px;
    color: white;
}
i{
    cursor: pointer;
}


/* *************************************************** Body Styling ******************************************** */

.filter{
    width: 80%;
    margin: 15px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background: #009B5D;
    color: white;
    height: 50px;
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
}
.filter > .filter-by-price-range{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.filter > .filter-by-price-range>input{
    height: 30px;
    padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter > .filter-by-price-range>input::placeholder{
    color: #009B5D;
}
.filter > .filter-by-price-range>button{
    background: #239bd7;
    width: 100px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.filter > .filter-by-price-range>button:hover{
    background: #52C1F7;
    cursor: pointer;
}
.filter > select{
    display: block;
}
.filter #sort-by-price,#filter-by-category{
    background: #239bd7;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.filter #filter-by-category:hover{
    background: #52C1F7;
    cursor: pointer;
}
.filter #sort-by-price:hover{
    background: #52C1F7;
    cursor: pointer;
}
#card-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.card{
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}

.card>.poster{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}
.card>.category{
    color: #3B3435;
    font-weight: bolder;
}
.card .flex{
    display: flex;
    gap: 10px;
}
.card .buttons-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.buttons-wrapper>button{
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;
    background: #009B5D;
    color: white;
    cursor: pointer;
    font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.buttons-wrapper>button:first-child{
    background:  #268fc4;;
}
.buttons-wrapper>button:first-child:hover{
    background:  #207caa;;
}
.buttons-wrapper>button:hover{
    background: #038350;
}

 /* button wrapper styling */
#button-cont{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
 #button-cont > #button-wrapper > button{
    font-size: 20px;
    font-weight:400;
    margin: 5px;
    padding: 10px;
    width: 50px;
    border: none;
   
 }
 #button-cont > #button-wrapper > button:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 }





.active{
    background-color: #009B5D;
    color: white;
}


/* <--------------------------Footer Styling--------------------------------------------------------> */

.footer{
    width: 100%;
    background: #F5F5F5;
    margin-top: 50px;
}
.footer>.footer-box1{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-top: 10px;
    padding-top: 20px;
}
.footer>.footer-box1>div>a{
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: #777977;
}
.footer>.footer-box1>div:last-child>img{
    width: 70%;
}

.footer>.payment-partners{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30% ;
    gap: 20px;
}
.footer>.payment-partners>div>div>img{
    width: 76px;
}
.footer>.payment-partners>div:last-child > div > img{
    width: 46px;
}
.footer>.terms-cond{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.footer>.terms-cond>a{
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: #777977;
}
.footer>#copyright{
    text-align: center;
    margin: 20px;
    line-height: 24px;
    color: #777977;
}