body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:black;
}

.container{
    display :flex ;
    justify-content: space-around;
    margin: auto;
    max-width: 1280px;
    height: 662px;
}
.section{
    width: 510px;
    height: 662px;
    display: flex;
    align-items: center;            
}
#rightlogo{
    width:50px;             
   border-radius:50%; 
   color: rgb(245, 239, 239);
   margin-right: 10px;
}
#rightlogo+label{
    font-size: 35px;
    color:rgb(62, 88, 183);
}
.rightlogo{
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}
.line {
    overflow: hidden;
    text-align: center;
    color: rgb(255, 249, 249);
    font-size: 20px;
    font-weight: 100;
}

.line:before,.line:after {
    background-color: #8b8787;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.line:before {
    right: 0.5em;
    margin-left: -50%;
}

.line:after {
    left: 0.5em;
    margin-right: -50%;
}
#logo{
    width:35px;
  border-radius:50%; 
   color: rgb(245, 239, 239);
   margin-right: 10px;
}
#logo+label{
    font-size: 25px;
    color:rgb(62, 88, 183);
}
.logo{
    display: none;
    align-items: center;
    margin-bottom: -1px;
}
a{ 
    color:rgba(23, 11, 243, 0.952);
    text-decoration: none;
    
}
a:hover{
 text-decoration:underline;
}
.section2{
    width: 398px;
    height: 582px;
    background-color: #52c0f7bb;
    padding:40px 56px;
    box-shadow: -1px 4px 28px 0px rgb(24, 44, 48);
}
h1{
    margin-top: 10px ;
    font-size: 35px;
    color:rgba(24, 23, 23, 0.785)
}
p{
    font-size: 18px;
}
form{
    display: flex;
    flex-direction: column;
}
form label{
    color: gray;
}
form input{
    font-size: 20px;
    border: none;
    border-bottom: solid 1px;
    background-color: transparent;
    margin-bottom: 10px
}
form input:focus{
    outline: none;
}
form input[type="submit"]{
    border: none;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 13px;
    cursor: pointer;
    width: fit-content;
    background-color: #1473E6;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 550;
    margin-left: 320px;
    color:white;
}
form input[type="submit"]:hover{
    background-color:  rgba(14, 15, 15, 0.813);

}
.formData{
    display: none;
}
.Continue>div{
display:flex;
/* border:1px solid red; */
padding:3px 25px;
align-items: center;
justify-content: center;
border-radius: 100px;
}
.Continue>div img{
 width: 32px;
 height:32px;
}
img+p{
    margin-left: 12px;
    font-size: 16px;
    font-weight: 1000;
}
.Continue>div:nth-child(1){
 background-color: #FFFFFF;
 color:#505050;
 border-width: 2px;
 cursor:pointer;
}
.Continue>div:nth-child(2){
background-color: #1877f2;
border-color: #1877f2;
color: #fff;
margin: 16px 0px;
border-width: 2px;
cursor:pointer;
}
.Continue>div:nth-child(2) p{
    margin-left: 12px;
    font-size: 16px;
    font-weight: 1000;
}
.Continue>div:nth-child(3){
background-color: #000;
border-color: #000;
color: #fff;
border-width: 1px;
cursor:pointer;
}
#help{
  color: rgba(23, 11, 243, 0.952);
  font-size:16px ;
  font-weight:500 ; 
  cursor:pointer; 
}
@media only screen and (max-width:1285px) {
    .logo{
        display: flex;
    }
    .rightlogo{
        display: none;
    }
    .section{
        display: none;
    }
    .container{
        width: 700px;                
    }
}