*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family:  "Open Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#payment-container{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px;
}
#payment-container > .left-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#payment-container > .left-div > .user-info > img{
    width: 200px;
    margin-left: 25px;
}
#payment-container > .left-div > .user-info > h1{
    margin-top: 0px;
    color: #06b560;
    font-family: 'Rubik Storm', cursive;
}
#payment-container > .left-div > .animation > img{
    width: 400px;
}

#payment-container > .payment-info{
    width: 100%;
    padding: 10px;
}
#payment-container > .payment-info > .product-details{
    background: #239bd7;
    color: white;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}

#container {
    width: 100%;
    padding: 20px;
    padding-bottom: 50px;
    background: #eceff1;
    border-radius: 0px 0px 20px 20px;
}
#container > h1 {
color: #239bd7;
}
#container h3 {
color: #9d6a37;
}
#container img {
width: 100px;
}
form {
width: 100%;
display: flex;
flex-direction: column;
}
form > div {
margin: 20px;
width: 100%;
margin-left: 0px;
display: flex;
}
label {
color: #6d726d;
margin-bottom: 5px;
}
input {
padding: 5px;
margin-right: 10px;
}
input::placeholder {
color: #9d6a37;
}
input[type="number"] {
-moz-appearance: textfield;
margin-left: 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0;
}
#submit {
width: 250px;
margin: auto;
margin-top: 20px;
padding: 15px;
background-color: #06b560;
color: white;
font-size: 20px;
font-weight: 500;
border: none;
border-radius: 10px;
cursor: pointer;
}
#submit:hover {
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.thankyou-img{
    display: none;
    width: 500px;
    position:absolute;
    left: 35%;
    top: 30%;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}