

body{
    background: #52C1F7;
} 
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 0%;
    margin: 0%;
}

#container{
    height: 1100px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
}
   
   
.card_div{
    width: 65%;
   display: flex;
   gap: 20px;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: flex-start;
    /* background: white; */
    margin-bottom: 20px;
   padding: 10px;
   padding-left: 20px;
}
.card_div>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* color: white; */
}
.banner{
    /* border: 2px solid red; */
    padding: 10px;
    background-color: #009B5D;
    color: #F5F5F5;
    height: 300px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-right: 310px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.banner > h1{
    margin-bottom: 10px;
}
.tutorCont{
    padding: 20px;
    background: white;
    /* border: 5px solid red; */
    font-weight: bolder;
    /* color: white; */
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tutor-1-div,.tutor-2-div{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding: 10px;
    background: white;
}

.tutorCont img{
    width: 100%;
    height: 350px;
    object-fit: fill;
    margin-bottom: 20px;
}


















.card_box{
    width: 100%;
    padding-top:20px;
    border: 1px solid rgb(36, 0, 128);
    margin: auto;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}




.buttons{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    border: 1px solid green;
    margin: auto;
}
.buttons>button{
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;
    background: #009B5D;
    color: white;
    cursor: pointer;
    font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.buttons>button:first-child{
    background:  #268fc4;;
}
.buttons>button:first-child:hover{
    background:  #207caa;;
}
.buttons>button:hover{
    background: #038350;
}





























/* <--------------------------Footer Styling--------------------------------------------------------> */

.footer{
    width: 100%;
    background: #F5F5F5;
    margin-top: 50px;
}
.footer>.footer-box1{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-top: 10px;
    padding-top: 20px;
}
.footer>.footer-box1>div>a{
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: #777977;
}
.footer>.footer-box1>div:last-child>img{
    width: 70%;
}

.footer>.payment-partners{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30% ;
    gap: 20px;
}
.footer>.payment-partners>div>div>img{
    width: 76px;
}
.footer>.payment-partners>div:last-child > div > img{
    width: 46px;
}
.footer>.terms-cond{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.footer>.terms-cond>a{
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: #777977;
}
.footer>#copyright{
    text-align: center;
    margin: 20px;
    line-height: 24px;
    color: #777977;
}