*{
    box-sizing: border-box;
}
body{
    background: #52C1F8;
    padding: 0;
    margin: 0;
    font-family:  "Open Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/***********************************navbar styling *********************************************************/

#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #52C1F8;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding: 5px;
    
}
#navbar  img{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}
#navbar img:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#navbar>.icons{
    /* border: 1px solid red; */
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}
#navbar > .icons> a{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
}
#navbar > .icons> a:hover{
    color: #002315;
}
#navbar>.icons>i{
    font-size: 33px;
    color: white;
}
i{
    cursor: pointer;
}
#navbar>.icons > #user-name{
    display: flex;
    gap: 10px;
    align-items: center;
}
#navbar>.icons > #user-name{
    color: white;
}
#navbar>.icons > #user-name> .logout-button{
    border: none;
    border-radius: 15px;
    font-weight: bold;
    padding: 10px;
    background: #009B5D;
    color: white;
    cursor: pointer;
    font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}



/* *************************************************** Body Styling ******************************************** */

#container{
    width: 90%;
    margin: 30px auto;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}  

.card_div{
   display: flex;
   gap: 40px;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 20px;
   padding: 10px;
   padding-left: 20px;
}
.card_div > img{
    width: 400px;
}
.card_div > div{
    line-height: 0px;
    display: flex;
    flex-direction: column;
}

.banner{
    padding: 10px;
    background-color: #009B5D;
    color: #F5F5F5;
    height: 300px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-right: 310px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.banner > h1{
    margin-bottom: 10px;
}
.tutorCont{
    padding: 20px;
    background: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.tutor-1-div,.tutor-2-div{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding: 10px;
    background: white;
}

.tutorCont img{
    width: 100%;
    height: 350px;
    object-fit: fill;
    margin-bottom: 20px;
}


.card_box{
    width: 100%;
    padding-top:20px;
    margin: auto;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
.buttons > button{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    background: #009B5D;
    color: white;
    cursor: pointer;
    font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.buttons>button:first-child{
    background:  #268fc4;;
}
.buttons>button:first-child:hover{
    background:  #207caa;;
}
.buttons>button:hover{
    background: #038350;
}
#certificate{
    width: 60%;
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 20px;
}
#certificate img{
    width: 100%;
}

/* <--------------------------Footer Styling--------------------------------------------------------> */

.footer{
    width: 100%;
    background: #F5F5F5;
    margin-top: 50px;
}
.footer>.footer-box1{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-top: 10px;
    padding-top: 20px;
}
.footer>.footer-box1>div>a{
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: #777977;
}
.footer>.footer-box1>div:last-child>img{
    width: 70%;
}

.footer>.payment-partners{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30% ;
    gap: 20px;
}
.footer>.payment-partners>div>div>img{
    width: 76px;
}
.footer>.payment-partners>div:last-child > div > img{
    width: 46px;
}
.footer>.terms-cond{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.footer>.terms-cond>a{
    display: block;
    line-height: 24px;
    text-decoration: none;
    color: #777977;
}
.footer>#copyright{
    text-align: center;
    margin: 20px;
    line-height: 24px;
    color: #777977;
}